include sponsor
mixin plato(img,title,price,pricetwo,ingredients,sponsor,category)
    .plate
        .plate__img
            //- .plate__logo
            //-     img(src="media/"+logo.img+logo.extention, alt=logo.alt)
            picture.plate__cont__picture
                img.plate__picture(srcset="media/"+category+"/"+img.picture+img.extention, alt=title)
        .container
            .plate__body
                h2.plate__title !{title}
                p.plate__text !{ingredients}
                p.plate__price Bs&nbsp;!{price}
                if(pricetwo)
                    p.plate__price Bs&nbsp;!{pricetwo}
        +sponsor(sponsor)

mixin platoDos(img,title,price,pricetwo,ingredients,sponsor,category, detalle1,detalle2)
    .plate
        .plate__img
            //- .plate__logo
            //-     img(src="media/"+logo.img+logo.extention, alt=logo.alt)
            picture.plate__cont__picture
                img.plate__picture(srcset="media/"+category+"/"+img.picture+img.extention, alt=title)
        .container
            .plate__body
                h2.plate__title !{title}
                p.plate__text !{ingredients}
                p.plate__price !{detalle1}&nbsp;-&nbsp;Bs&nbsp;!{price} 
                if(pricetwo)
                    p.plate__price !{detalle2}&nbsp;-&nbsp;Bs&nbsp;!{pricetwo}
        +sponsor(sponsor)